<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vestorgrow - Activation Link</title>
    <style rel="stylesheet" type="text/css">
      * {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #e4e4e4; width: 100%; margin: 0 auto; padding: 0">
    <div style="width: 100%; padding: 2rem">
      <div>
        <img src="https://api.vestorgrow.com/assets/logo-dark.png" alt="" width="150px" style="margin-bottom: 1rem" />
      </div>
      <div style="background-color: #ffffff; width: 100%; border-radius: 1rem; position: relative; padding: 2rem">
        <img src="https://api.vestorgrow.com/assets/power-off.png" alt="" width="32px" height="32px" style="backdrop-filter: #00808b" />
        <div>
          <h3 style="font-size: 18px; font-weight: 600; line-height: 1.5">Activate Account</h3>
          <p style="line-height: 1.5">Hello <%= username %>,</p>
          <p style="line-height: 1.5">Thanks for signing up to the VestorGrow!</p>
          <p style="line-height: 1.5">Click the button below to complete your registration.</p>
        </div>
        <a
          href="<%= link %>"
          target="_blank"
          style="
            text-decoration: none;
            background-color: #00808b;
            color: #ffffff;
            padding: 15px;
            margin-bottom: 2rem;
            display: block;
            width: 224px;
            text-align: center;
            border-radius: 10px;
            font-weight: 500;
          "
        >
          Activate your account
        </a>
        <div style="margin-bottom: 0.5rem; color: #384860">If you have problems accessing the link above, please copy and paste the URL below into your browser:</div>
        <a href="<%= link %>" target="_blank"><%= link %></a>
      </div>
      <div style="width: 100%; margin-top: 2rem; color: #585858">
        <small>Want to give us feedback? Let us know what you think <a target="_blank" href="https://vestorgrow.com">here.</a></small>
      </div>
      <table style="width: 100%; margin-top: 2rem">
        <tr>
          <td style="width: 60%">
            <img src="https://api.vestorgrow.com/assets/logo.png" alt="" width="120px" style="filter: invert(100%); -webkit-filter: invert(100%)" />
          </td>
          <td style="width: 40%; text-align: right">
            <img src="https://api.vestorgrow.com/assets/insta.png" alt="" style="width: 24px; height: 24px; display: inline; margin: 0 5px" />
            <img src="https://api.vestorgrow.com/assets/fb.png" alt="" style="width: 24px; height: 24px; display: inline; margin: 0 5px" />
            <img src="https://api.vestorgrow.com/assets/twitter.png" alt="" style="width: 24px; height: 24px; display: inline; margin: 0 5px" />
            <img src="https://api.vestorgrow.com/assets/youtube.png" alt="" style="width: 24px; height: 24px; display: inline; margin: 0 5px" />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
